body { 

  background: url(../images/bg2.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;

  

}

.about-me {
	text-align: center;
	color : white;
	font-family: 'Anton';
	font-size: 20px;
	font-weight: normal;

}

.about-me h1 {
	font-size: 60px;
	margin-top: 0;
}


.profile-picture {

  border-radius: 100%;
  border-color: white;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
  border-width: thick;


}

.bio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.about {
	width:500px;
	margin: auto;


}
